<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара &laquo;[[${product.title}]]</title>
</head>
<body>
<a data-th-href="@{/Store/manager/cabinet}">&larr; В кабинет менеджера</a>
<h1>Редактирование товара &laquo;[[${product.title}]]</h1>
<form method="post" enctype="multipart/form-data" data-th-action="@{/Store/manager/{productId}/edit(productId = ${product.id})}">

    <label>
        Название:<br>
        <input type="text" name="title" data-th-value="${payload?.title}">
    </label><br>
    <label>
        Описание:<br>
        <textarea name="info" data-th-text="${payload?.info}"></textarea>
    </label><br>
    <label>
        Ссылка на изображение:<br>
        <input type="file" name="file">
    </label><br>
    <label>
        Цена:<br>
        <input type="text" name="price" data-th-value="${payload?.price}">
    </label><br>

    <button type="submit">Изменить</button>
</form>
</body>
</html>